    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <!--
      <section>
        <h2>{{ .Site.Params.footer.title }}</h2>
        <p>{{ .Site.Params.footer.about }}</p>
        {{ if isset .Site.Params.footer "link" }}
        <ul class="actions">
          <li><a href="{{ .Site.Params.footer.link }}" class="button">Learn More</a></li>
        </ul>
        {{ end }}
      </section>
      <section>
        <h2>Contact Us</h2>
        <dl class="alt">
          <dt>Address</dt>
          <dd>{{ .Site.Params.footer.contact.address }}</dd>
          <dt>Phone</dt>
          <dd>{{ .Site.Params.footer.contact.phone }}</dd>
          <dt>Email</dt>
          <dd><a href="mailto:{{ .Site.Params.footer.contact.email }}">{{ .Site.Params.footer.contact.email }}</a></dd>
        </dl>
        <ul class="icons">
          <li>
            <a href="#" class="fa fa-twitter">
              Twitter
            </a>
          </li>
          <li>
            <a href="#" class="fa fa-facebook">
              Facebook
            </a>
          </li>
          <li>
            <a href="#" class="fa fa-instagram">
              Instagram
            </a>
          </li>
          <li>
            <a href="#" class="fa fa-github">
              GitHub
            </a>
          </li>
          <li>
            <a href="#" class="fa fa-dribbble">
              Dribbble
            </a>
          </li>
        </ul>
      </section>
      -->
      <div class="copyright">
        <p>&copy; David King 2017</p>
        <p>Except as otherwise noted, the content of this page is licensed under the Creative Commons<br>Attribution 3.0 License, and code samples are licensed under the Apache 2.0 License.</p>
      </div>
    </div>
  </footer>

  {{ if in (print .Site.BaseURL) "oodavid.com"}}
    {{ template "_internal/google_analytics.html" . }}
    <script>
      ga('send', 'pageview', {
        'Branch':  '{{ getenv "BRANCH" }}'
      });
    </script>
  {{ end }}

</body>
</html>
