.meta-image {
  background-color: $palette__bg;
  background-image: linear-gradient(45deg, $palette__bg1 15%, $palette__bg2 85%);
  width: 1200px;
  height: 630px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: white;
  margin: 20px auto;
  margin-left: -230px;
  box-shadow: 0 0 0 20px white;
  text-align: center;
  display: flex;
  align-items: center;
  > table {
    width: auto;
    margin: 0 auto;
    table-layout: fixed;
    * {
      border: none;
    }
    td {
      font-size: 76px;
      line-height: 76px;
      &:nth-child(1),
      &:nth-child(3) {
        width: 440px;
      }
      &:nth-child(2) {
        width: 120px;
        font-size: 54px;
        font-style: italic;
        vertical-align: bottom;
      }
      p {
        margin: 30px 0 0 0;
      }
    }
  }
  .meta-image-david {
    padding: 16px;
    background-color: white;
  }
  .meta-image-david,
  .meta-image-tech {
    display: inline-block;
    width: 360px;
    height: 360px;
  }
  .meta-image-tech {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
