{{- $files := readDir "/static/images/tech" -}}
{{- range $files }}
  {{- if eq "png" (index (split .Name ".") 1) }}
    <h2>{{ index (split .Name ".") 0 }}</h2>
    <p class="text-center">/images/meta/{{ index (split .Name ".") 0 }}.png</p>
    <div class="meta-image">
      <table>
        <tr>
          <td>
            <div class="meta-image-david angular-silhouette">
              <img src="/images/david.jpg" alt="David King" class="angular-silhouette">
            </div>
            <p>oodavid</p>
          </td>
          <td>
            on
          </td>
          <td>
            <img class="meta-image-tech" src="/images/tech/{{ index (split .Name ".") 0 }}.png">
            <p>{{ index (split .Name ".") 0 }}</p>
          </td>
        </tr>
      </table>
    </div>
  {{- end }}
{{- end }}


