{{- $files := readDir "/static/images/tech" -}}
{{- range $files }}
  {{- if eq "svg" (index (split .Name ".") 1) }}
    <h2>{{ index (split .Name ".") 0 }}</h2>
    <p class="text-center">/images/meta/{{ index (split .Name ".") 0 }}.png</p>
    <div class="meta-image">
      <table>
        <tr>
          <td>
            <div class="meta-image-david avatar-silhouette">
              <img src="/images/david-328.jpg" alt="David King" class="avatar-silhouette">
            </div>
            <p>oodavid</p>
          </td>
          <td>
            on
          </td>
          <td>
            <div class="meta-image-tech" style="background-image: url('/images/tech/{{ index (split .Name ".") 0 }}.svg');"></div>
            <p>{{ index (split .Name ".") 0 }}</p>
          </td>
        </tr>
      </table>
    </div>
  {{- end }}
{{- end }}


