// MSIE: Mobile
@-ms-viewport {
  width: device-width;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
  -ms-overflow-style: scrollbar;
}

// Minimum Sizing
html,
body {
  min-height: 100%; // Full Height
  min-width: 320px; // Ensures page width is always >=320px.
}

// Gradient
body {
  background-color: _palette($palette__bg);
  background-image: url("images/overlay.png"),
                    linear-gradient(45deg, $palette__bg1 15%, $palette__bg2 85%);
}
