#header {
  // Layout
  padding: 40px 0;
  > div {
    display: table;
    margin: auto;
    > div {
      display: table-cell;
      vertical-align: middle;
    }
    // Fade-in on load (see main.js)
    body.is-loading & {
      opacity: 0;
    }
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 1;
  }
  // Style
  font-size: 1.2em;
  color: rgba(255,255,255,0.65);
  #header__image {
    > div {
      display: inline-block;
      padding: 5px;
      background-color: #ffffff;
      width: 160px;
      img {
        vertical-align: middle;
        width: 100%;
      }
    }
  }
  #header__bio,
  #header__bio__compact {
    p {
      margin: 0;
      &.header__twitter {
        margin-top: 10px;
      }
    }
    a:hover {
      color: white;
    }
  }
  #header__bio {
    padding: 0 0 0 30px;
  }
  #header__bio__compact {
    display: none;
  }
  // Compact version
  @media (max-width: 500px) {
    > div {
      display: block;
      text-align: center;
      > div {
        display: block;
      }
    }
    #header__bio {
      display: none;
    }
    #header__bio__compact {
      display: block;
    }
  }
}
