#avatar-silhouette {
  width: 0;
  height: 0;
  position: absolute;
}
.avatar-silhouette {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 90% 75%, 50% 100%, 10% 75%, 0% 25%);
  clip-path:         polygon(50% 0%, 100% 25%, 90% 75%, 50% 100%, 10% 75%, 0% 25%);
  -webkit-clip-path: url("#avatar-silhouette-path");
  clip-path: url("#avatar-silhouette-path");
}
