form.subscribe {
  background-color: $palette__bg2;
  color: white;
  h3,
  p,
  div {
    margin: 20px 0;
    line-height: 1;
  }
  input {
    background-color: white;
    border: none;
    width: 70%;
    height: 40px;
    vertical-align: middle;
    padding: 0 10px;
  }
  button {
    border: none;
    background-color: lighten($palette__accent3, 10%);
    float: right;
    width: 25%;
    height: 40px;
    vertical-align: middle;
  }
  @media (max-width: 500px) {
    button,
    input {
      display: block;
      width: 100%;
      float: none;
    }
  }
}
