#toc {
  background: $palette__bg_alt;
  padding: 20px 40px;
  h4 {
    font-size: 30px;
    margin: 0;
  }
  #TableOfContents {
    // H1 - Hidden
    > ul {
      > li::before {
        display: none;
      }
      padding: 0;
      // Plain bullets
      li::before {
        color: inherit;
      }
      > li {
        // H2 - Visible
        > ul {

        }
      }
    }
  }
}
