body {
  font-family: $font_family;
  font-weight: 300;
  line-height: 1.65;
  font-size: 17px;
}

a {
  transition: color 300ms ease-in-out,
              border-bottom 300ms ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
  &:hover {
    border-bottom-color: transparent;
    color: $palette__link;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.5;
  a {
    color: inherit;
    text-decoration: none;
    border: none;
  }
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 0 !important;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  &::before {
    content: '';
    display: block;
    margin-bottom: 10px;
    height: 1px;
    background-image: linear-gradient(90deg, $palette__accent1, $palette__accent3, $palette__accent5);
  }
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  figcaption {
    font-style: italic;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

hr {
  height: 1px;
  border: 0;
  background-image: linear-gradient(90deg, $palette__accent1, $palette__accent3, $palette__accent5);
}

div.highlight {
  border-left: 3px solid $palette__accent1;
  pre {
    overflow-x: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
  }
}

code {
  padding: 4px 8px;
  font-size: 14px;
  background-color: lighten($palette__accent1, 15%);
  -webkit-font-smoothing: antialiased;
}

blockquote {
  border-left: 3px solid $palette__accent3;
  background-color: lighten($palette__accent3, 25%);
  blockquote {
    padding: 1px 10px;
  }
}

p.page_meta,
p.date {
  height: 1px;
  background-image: linear-gradient(90deg, $palette__accent1, $palette__accent3, $palette__accent5);
  color: $palette__accent3;
  line-height: 15px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  time {
    padding: 0 5px;
    background-color: #ffffff;
    position: relative;
    top: -8px;
  }
  a {
    font-size: 12px;
  }
  margin-top: 32px;
  margin-bottom: 32px;
  &.page_meta {
    margin-bottom: 80px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      background-image: linear-gradient(90deg, $palette__accent1, $palette__accent3, $palette__accent5);
      color: white;
      text-align: left;
    }
  }
  td,
  th {
    padding: 3px 6px;
    border: 1px solid $palette__font;
  }
}






.container {
  ul {
    list-style: none;
    > li {
      position: relative;
      &::before {
        content: "\f105";
        display: block;
        font-family: FontAwesome;
        position: absolute;
        left: -1em;
        color: $palette__accent1;
      }
    }
  }

  ul.task-list {
    list-style-type: none;
    padding-left: 15px;
    > li::before {
      display: none;
    }
    .task-list {
      padding-left: 40px;
    }
  }

  input[type=checkbox] {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $palette__bg_alt;
      border: 1px solid $palette__accent5;
    }
    &:checked::before {
      content: "\2713";
      background-color: $palette__accent5;
      color: white;
      text-align: center;
      line-height: 16px;
      font-size: 14px;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  .hash-link {
    position: relative;
    right: 0.7em;
    width: 0;
    display: inline-block;
    opacity: 0;
    color: inherit;
  }
  &:hover {
    .hash-link {
      opacity: 0.3;
      &:hover {
        opacity: 1;
        color: $palette__link;
      }
    }
  }
}

