#home {
  section {
    padding: 0 0 28px 0;
    text-align: center;
    a {
      text-decoration: none;
      border: none;
    }
    p {
      margin: 32px 80px;
    }
    + section {
      border-top: 1px solid #f1f1f1;
    }
  }
}
