#nav {
  background-color: $palette__bg_alt;
  box-shadow: 0 -1px 7px $palette__bg;
  position: relative;
  ul {
    font-size: 1.2em;
    padding: 0;
    list-style: none;
    // Equal width + clearfix
    li {
      float: left;
      width: 33%;
      &:nth-child(2){
        width: 34%;
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    // Links
    li {
      padding: 0;
      text-align: center;
      a {
        display: block;
        border: 0;
        padding: 0.5em 0;
        text-transform: uppercase;
        color: $palette__bg;
        // Animated hover
        background: linear-gradient(0deg, $palette__accent1, $palette__accent1) bottom center no-repeat;
        background-size: 0px 3px;
        transition: 0.5s;
        text-decoration: none;
        &:hover,
        &.active {
          background-size: 100% 3px;
          color: #000000;
        }
      }
    }
  }
}
