{{ partial "header.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
{{ range $paginator.Pages }}
  <section class="home">
    <h1>
      <a href="{{ .Permalink }}">
        {{ .Title }}
        {{ if .Draft }}
          <small>draft</small>
        {{ end }}
      </a>
    </h1>
    <p class="date">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}</time>
    </p>
    <p>
      <a href="{{ .Permalink }}">
        {{ .Summary }}...
      </a>
    </p>
    <p>
      <a href="{{ .Permalink }}" class="button">
        Read More
      </a>
    </p>
  </section>
{{ end }}

{{ template "_internal/pagination.html" . }}

{{ partial "subscribe.html" . }}

{{ partial "footer.html" . }}
